:root {
  --color-primary: #e7005e;
  --color-secondary: #1b1834;
  --color-headings: #fff;
  --color-headings-darker: #130f25;
  --color-body: #eeeeee; /* for the text*/
  --color-body-darker: #a5aacf; /* for the top links*/
  --color-text-darker: #130f25; /* for the top links*/
  --color-link-pink: #d60056;
  --color-border: #585fa2;
  --border-radius: 30px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-family: inter, Aral, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin: 0;
}

@media screen and(min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* btn */

a {
  text-decoration: none;
}

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 1.2rem 3.4rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background: #ff1675;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
  border-radius: 8px;
  padding: 3px 15px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--color-border);
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}
.btn--secondary:hover {
  cursor: pointer;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--outline {
  background: #1b1834;
  color: var(--color-body);
  border: 2px solid var(--color-border);
}
.btn--outline:hover {
  background: var(--color-border);
}

.btn-small {
  font-size: 10rem;
  margin: 0;
}

.btn-small--primary {
  background: var(--color-primary);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 999px;
  padding: 1.8rem 3.4rem;
  margin-top: 2rem;
}

/* nav containers */
.nav-mega {
  background: #130f25;
  list-style: none;
}

.nav-mega--container {
  display: flex;
  margin: 0 7.5rem;
  height: 4.6rem;
  padding: 2px;
}

.menu--link {
  outline: none;
  display: flex;
  border: 0;
  align-items: center;
  background-color: inherit;
  text-wrap: nowrap;
}

.menu--link__img {
  margin: 0 0.5rem;
}

.ps-page {
  color: #a5aacf;
  font-size: 1.4rem;
  font-weight: 400;
}
.menu--link {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: #a5aacf;
  height: 100%;
}
.menu--link__img {
  border-left: 1px solid var(--color-border);
  padding-left: 4rem;
}

ul li {
  list-style-type: none;
}

.audience-list--container {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding-left: 1rem;
  align-items: start;
}

.page-list--container {
  display: flex;
  justify-content: end;
  gap: 3.1rem;
  margin: 0;
}

.logo {
  height: 3.1rem;
  width: 3.1rem;
}

.page-list--container {
  margin-left: 15rem;
}

/* nav nav */

.nav-universl {
  background: #242145;
}

.nav-universal--container {
  display: flex;
  margin: 0 7.5rem;
  padding: 2px;
}

.menu-link a {
  color: #a5aacf;
  font-size: 1.5rem;
}
.nav-brand {
  display: flex;
  align-items: center;
  margin: 0;
}
.main-logo {
  height: 2.4rem;
  width: 12.2rem;
}

.ps-nav-menu {
  display: flex;
  margin: 0;
  align-items: center;
}

.ps-item-main {
  display: flex;
  gap: 4rem;
  margin: 0;
  text-wrap: nowrap;
  align-items: center;
  height: 7rem;
}

.ps-item-utility {
  display: flex;
  gap: 3rem;
  margin: 0;
  padding-left: 1.9rem;
}
/* icon */

.icon {
  width: 40px;
  height: 40px;
  fill: white;
}

.icon--search {
  width: 20px;
  height: 20px;
}

.icon-cont {
  display: flex;
  margin: 0 0 0 4rem;
  padding: 0;
}

/* grid card */

.grid-card {
  background: linear-gradient(to bottom, #18142e 0%, #2b1352 66%, #39134a 100%);
  display: flex;
  justify-content: space-evenly;
  padding: 5rem;
  border-radius: 2.4rem;
  max-width: 100%;
}

.grid-card__header {
  color: #ff1675;
  font-size: 1.8rem;
  font-weight: bold;
}

.grid-card__text {
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  letter-spacing: 5;
}

.grid-card-h1 {
  margin: 0 0 1rem;
  padding: 0;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1;
}

.grid-card-head {
  padding: 1.5rem;
  width: 60%;
}
.grid-card--img {
  padding: 1.5rem;
}
.grid-card-img {
  width: 100%;
}
/* hero container */

.hero-container {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1b1834+0,35166b+45,731750+100 */
  background: linear-gradient(
    to bottom,
    #1b1834 0%,
    #35166b 45%,
    #731750 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 4rem 1.5rem;
}
.hero-topics {
  background-image: url(../img/bf-banner-desktop-left.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-top: 7rem;
  align-items: start;
}

.hero-img {
  display: inline-block;
}

.hero-img img {
  margin: 0 1rem 1rem 1rem;
}

.hero-topics-title {
  font-size: 2.8rem;
  margin: 0;
  padding: 0;
}

.hero-topics-card-container,
.hero-topics-header {
  padding: 0 1.5rem;
}

.hero-topics-header a {
  color: #fff;
}
.hero-topics-card-container {
  display: flex;
  flex-wrap: wrap;
}

/* company container header */

.company-container {
  padding: 10rem 1.5rem;
}

.cont-container {
  padding: 0 1.5rem;
}

.company-cont-header {
  color: #130f25;
  font-size: 1.9rem;
  margin: 0 0 2.5rem;
  text-align: center;
  font-weight: bold;
}

.comapny-cont-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.cont-cont {
  width: 155.188px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  flex-wrap: wrap;
}

.img-cont img {
  margin: 0 0 1.5rem;
}

.img-a {
  width: 94.391px;
  height: 44.984px;
}
.img-b {
  width: 125.19px;
  height: 35.23px;
}
.img-c {
  width: 63px;
  height: 62px;
}
.img-d {
  width: 125.19px;
  height: 19.81px;
}
.img-e {
  width: 114.891px;
  height: 36.984px;
}
.img-f {
  width: 125.188px;
  height: 30.906px;
}
